*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.section1-container{
    background-color: #1F2937;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;


    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* padding: 10px; */
}

.logo{
    font-size: 24px;
    color: #f9FAf8
}


.right-links{
    display: flex;
    gap: 15px;
}

.header-content{
    display: flex;
    /* background-color:orange; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAf8;
}

.right-links, .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.secondary-text, .hero-main-text{
    margin-bottom: 10px;
}

.signup-btn{
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    padding: 7px 27px;
    border: none;
    border-radius: 6px;
}

.section2-container{
    display: flex;
    flex-direction: column;
  
    gap: 50px;
    /* background-color: blue; */
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;

}

.info-header-txt{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    /* background-color: green; */

}

.dog-info-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
    /* background-color: red; */
    gap: 15px;
    
}

.img-container{
    width: 250px;
}

.section2-img{
    width: 250px;
    max-width: 100%;
}

.section3-container{
    background-color: #E5E7EB;
    padding-top: 120px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.quote{
    display: flex;
    font-size: 35px;
    font-style: italic;
    /* background-color: blue; */
}

.author{
    /* background-color: red; */
    font-size: 25px;
    color: #1F2937;
    font-weight: bold;
    text-align: end;

}

.section4-container{
    padding: 75px 100px;
}

.call-to-actn-container{
    background-color: #3882F6;
    padding: 30px 60px;
    border-radius: 10px;
    gap: 5px;
}

.signup-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.actn-btn{
    border: 2px solid white;
    font-size: 15px;
}

.actn-head{
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.actn-subhead{
    color: white;
    font-size: 18px;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 20px 0px;
    color: white;
    font-size: 14px;
}



